/* .main {
} */

.main__section {
  display: flex;
  justify-content: center;
}

.main__container {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  height: 128px;
  width: 608px;
}

.main__title {
  font-size: 60px;
}

.main__subtitle {
  font-size: 18px;
}

.main__background {
  background-image: url("../../images/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
}
