.header__elements {
  display: flex;
  margin-top: 30px;
  margin-right: 104px;
  gap: 30px;
  position: absolute;
  top: 1px;
  right: 5px;
  color: #fff;
}

.header__logo {
  height: 24px;
  width: 200px;
  position: absolute;
  top: 42px;
  left: 104px;
  cursor: pointer;
}

.header__home-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-family: "Roboto Regular 500", sans-serif;
  font-size: 18px;
  /* transition: opacity 0.3s ease-in-out; */
}

.header__saved-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-family: "Roboto Regular 500", sans-serif;
  font-size: 18px;
  margin-left: 30px;
}

.header__home-button:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid #fff;
}

.header__saved-button:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid #fff;
}

.header__sign-in {
  background: transparent url(../../images/Rectangle.svg) center no-repeat;
  border-radius: 100px;
  border: solid 1px;
  font-size: 18px;
  height: 48px;
  width: 176px;
}

.header__sign-out {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: solid 1px;
  font-family: "Roboto Regular 500", sans-serif;
  font-size: 16px;
  cursor: pointer;
  height: 48px;
  width: 112px;
}

.header__sign-out-icon {
  width: 16px;
  height: 16px;
}

.header__hamburg-menu {
  display: none;
}

.header__hamburg-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__border {
  position: absolute;
  top: 90px;
  width: 100%;
  border: solid 1px #fff;
  opacity: 0.2;
}

/* .header__border-black {
  position: absolute;
  top: 90px;
  width: 100%;
  border: solid 1px #000;
  opacity: 0.2;
} */

.header__profile .header__home-button,
.header__profile .header__saved-button,
.header__profile .header__sign-out {
  color: #000; /* Change button text color to black */
}

@media (max-width: 815px) {
  .header__home-button {
    display: none;
  }

  .header__sign-in {
    display: none;
  }

  .header__hamburg-menu {
    display: flex; /* Show hamburger menu */
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .header__sign-out {
    display: none;
  }

  .header__sign-out-icon {
    display: none;
  }

  .header__saved-button {
    display: none;
  }
}
