.header__elements {
  display: flex;
  /* flex-direction: row;
  justify-content: flex-end; */
  margin-top: 30px;
  margin-right: 104px;
  gap: 30px;
  position: absolute;
  top: 1px;
  right: 5px;
  color: #fff;
}

.header__logo {
  height: 24px;
  width: 200px;
  position: absolute;
  top: 42px;
  left: 104px;
}

.header__home-button {
  background-color: none;
  font-family: "Roboto Regular 500", sans-serif;
  font-size: 18px;
}

.header__saved-button {
  background-color: none;
  font-family: "Roboto Regular 500", sans-serif;
  font-size: 18px;
  margin-left: 30px;
}

/* .header__home-button:hover {
  border-bottom: #fff solid 3px;
  line-height: 50px;
} */

/* .header__saved-button:hover {
  border-bottom: #fff solid 3px;
  line-height: 50px;
} */

.header__sign-in {
  background: transparent url(../../images/Rectangle.svg) center no-repeat;
  border-radius: 100px;
  border: solid 1px;
  font-size: 18px;
  height: 48px;
  width: 176px;
}

.header__sign-out {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: solid 1px;
  font-family: "Roboto Regular 500", sans-serif;
  font-size: 16px;
  /* color: #fff; */
  cursor: pointer;
  height: 48px;
  width: 112px;
}

.header__sign-out-icon {
  width: 16px;
  height: 16px;
  /* color: #fff; */
}

.header__border {
  position: absolute;
  top: 90px;
  width: 100%;
  border: solid 1px #fff;
  opacity: 0.2;
}

/* .header__border-black {
  position: absolute;
  top: 90px;
  width: 100%;
  border: solid 1px #000;
  opacity: 0.2;
} */

.header--profile {
  color: #000;
}
