.footer {
  font-family: "Roboto Slab Regular", sans-serif;
  margin: 0 105px 20px 105px;
  padding: 0 20px;
}

.footer__credits {
  color: #b6bcbf;
  max-width: 300px;
  font-size: 16px;
}

.footer__elements {
  display: flex;
  justify-content: space-between;
}

/* FOOTER GROUPINGS */

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer__buttons {
  display: flex;
  gap: 30px;
}

/* FOOTER INDIVIDUALS */

.footer__github {
  cursor: pointer;
}

.footer__linkedin {
  cursor: pointer;
}

.footer__home {
  cursor: pointer;
}

.footer__tripleten {
  cursor: pointer;
}

/* FOOTER HOVER STATES */

.footer__home:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

.footer__tripleten:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

.footer__github:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

.footer__linkedin:hover {
  opacity: 0.6;
  transition: 0.2s ease-in-out;
}

@media (max-width: 830px) {
  .footer {
    padding: 0%;
  }

  .footer__elements {
    /* width: 100%; */
    /* display: flex;
    justify-content: center; */
    flex-direction: column-reverse;
  }

  .footer__github {
    width: 24px;
    height: 24px;
  }

  .footer__linkedin {
    width: 24px;
    height: 24px;
  }

  /* .footer__home {
    padding-right: 0px;
    margin-bottom: 30px;
  } */

  .footer__buttons {
    margin-right: 50px;
  }

  .footer__icons {
    display: flex;
    justify-content: flex-end;
    max-width: fit-content;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    /* max-width: fit-content; */
  }

  .footer__buttons {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
